.vs/

InterestCalculator.API/bin/

InterestCalculator.API/obj/

InterestCalculator.Domain/bin/

InterestCalculator.Domain/obj/

InterestCalculator.Domain.Notifications/bin/

InterestCalculator.Domain.Notifications/obj/

InterestCalculator.IoC/bin/

InterestCalculator.IoC/obj/

InterestCalculator.Test/bin/

InterestCalculator.Test/obj/